<div class="field-frame" label="{{label || object.$t(attribute)}}" error="{{object.$get_errors(attribute)}}" ng-class="object.$get_view_rule(attribute, this.$parent)">
  <div class="history-icon" ng-show="has_history"><span class="glyphicon glyphicon-time" ng-click="show_history(object, attribute)"></span></div>
  <div class="edit">
    <textarea ng-attr-id="{{object.$attr_id(attribute)}}" ng-model="object[attribute]" class="form-control input-sm"></textarea>
  </div>
  <div class="view" ng-bind-html="t(object[read_attribute])"></div>
  <div class="edit-icon" ng-show="object.$get_view_rule(attribute, this.$parent) == 'edit'" ng-click="edit_textarea()">
    <span class="glyphicon glyphicon-pencil"></span>
  </div>
</div>