.field-frame {
  &.show {
    opacity: .85;

    label {
      font-weight: normal;
    }
    div.edit {
      display: none;
    }
  }
  &.hide {
    display: none;
  }

  .op0 { opacity: 0 !important; }
  margin-bottom: .5em;

  & > div.frame {

    & > label {
      font-size: .95em;
      color: #666;
      margin-bottom: 0px;
    }

    & > div[ng-transclude] {
      border: 1px solid #999;
      border-top-color: rgba(0,0,0,0);
      border-right: 0px;
      background-color: #f8f8f8;
      position: relative;
      min-height: 32px;

      & > div.edit {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        & > textarea {
          min-height: 100px;
        }
        &.op0 > textarea {
          min-height: 32px;
          height: 32px;
        }
      }

      & > div.view {
        top: 0;
        line-height: 1.5;
        padding: 6px 11px;
        max-height: 100px;
        overflow-y: auto;
      }

      input[type="checkbox"] {
        margin: 0;
      }

      & > div.history-icon {
        position: absolute;
        right: 0;
        top: -15px;

        & > span {
          cursor: pointer;
        }
      }

      & > div.edit-icon {
        position: absolute;
        top: 3px;
        right: 15px;

        & > span {
          cursor: pointer;
        }
      }
    }
  }

  & > div.validation-error {
    display: none;
    color: #a94442;
    font-size: .8em;
    text-align: right;
    font-style: italic;
    margin-top: -1px;

    & > label {
      border: 1px solid #a94442;
      background-color: #fcf7f7;
      padding: 2px;
    }
  }

  &.has-error {
    & > div.frame {
      & > label {
        color: #a94442;
      }
      & > div[ng-transclude] {
        color: #a94442;
        border-color: #a94442;
        border-top-color: rgba(0,0,0,0);
        opacity: 1;
        background-color: #fcf7f7;
      }
    }

    & > div.validation-error {
      display: block;
    }
  }
}

td > .field-frame, td > div > .field-frame{
  margin-bottom: 0;
  & > div.frame {
    & > label {
      display: none;
    }
    & > div[ng-transclude] {
      border: 1px solid rgba(0,0,0,0);
      background-color: inherit;
    }
    &.has-error {
      & > div.frame {
        & > div[ng-transclude] {
          border-color: rgba(0,0,0,0);
          background-color: #fcf7f7;
        }
      }
    }
    & > div.validation-error {
      margin-top: 0;
    }
  }
}